body {
    background-color: #f5f5f5;
    margin: 0;
}

main{
    max-width: 80%;
    padding-left: 3%;
}

header {
    padding: 1% 0 1% 3%;
    background-color: rgb(76,164,109);
}

header h2 {
    margin-top: 0;
}

.projects {
    width: 15%;
    height: 935px;
    float: right;
    margin-top: 12px;
    margin-right: 15px;
    border: 1px solid black;
}

.projects h3 {
    text-align: center;
}


h1, h2, h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

p, ol li {
    font-family: 'Poppins', sans-serif;
}

.bold {
    font-weight: 700;
}

.mycontent {
    position: relative;
}

.profile {
    display: inline-block;
}

.profilepicture {
    border: 3px solid #fff8f8;
    border-radius: 100%;
}

.about {
    display: inline-block;
    max-width: 60%;
    position: absolute;
    top: 27%;
    left: 27%;
}

#perfil {
    text-align: center;
}

.indice {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.indice li {
    display: inline-block;
    margin-right: 10px;
}

#github, .skills li:nth-of-type(2) {
    list-style-image: url(./images/logos/github-logo-icon.png);
}

#linkedin {
    list-style-image: url(./images/logos/linkedin-logo-icon.png);
}

.skills li:nth-of-type(1) {
    list-style-image: url(./images/logos/git-logo-icon.png);
}

.skills li:nth-of-type(3) {
    list-style-image: url(./images/logos/python-logo-icon.png);
}

.skills li:nth-of-type(4) {
    list-style-image: url(./images/logos/html-logo-icon.png);
}

.skills li:nth-of-type(5) {
    list-style-image: url(./images/logos/css-logo-icon.png);
}

.skills li:nth-of-type(6) {
    list-style-image: url(./images/logos/ingles-logo-icon.png);
}

.footer {
    clear: both;
    background-color: rgb(76,164,109);
}

.footer h3{
    font-weight: 400;
    text-align: center;
    padding: 20px;
    margin: 0;
}
